<launch>
  <!-- 设置命名空间 -->
  <arg name="robot_name" default="my_gen3_lite" />

  <!-- 正确加载 xacro 机器人模型 -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find kortex_description)/robots/gen3_robotiq_2f_85.urdf.xacro'" />

  <!-- 启动 MoveIt -->
  <include file="$(find gen3_move_it_config)/launch/move_group.launch" />

  
  <!-- 3. 启动你自己的节点 -->
  <!-- 启动主程序 -->
  <node pkg="kortex_3dpaint"
        name="paint_node"
        type="paint.py"
        args="__ns:=$(arg robot_name)"
        output="screen"
        launch-prefix="python3" />
</launch>
